<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="container mt-2">
    <!-- Input para generar tabla  -->
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col input-group mb-3">
                <span class="input-group-text material-symbols-outlined">
                        backpack
                </span>
                <input id="capacidad" (input)="getInputCapacidad($event)" type="number" class="form-control"
                    placeholder="Ingrese la capacidad de la mochila">
            </div>
            <div class="col input-group mb-3">
                <span class="input-group-text material-symbols-outlined">
                    category
                </span>
                <input id="objetos" (input)="getInputObjetos($event)" type="number" class="form-control"
                    placeholder="Ingrese el número de objetos">
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="row gx-2">
                <div class="col-auto">
                    <button class="btn btn-primary" (click)=this.generarTabla()>Generar tabla</button>
                </div>
                <div class="col-auto d-inline-flex">
                    <input type="file" accept=".json" class="form-control" (change)="this.handleFile($event)">
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla con los pesos y valores -->
    <div class="container mt-3 text-center " *ngIf="this.objetosIndex.length > 0">
        <table id="tabla" class="table table-striped bg-white rounded">
            <thead>
                <tr>
                    <th>Objeto</th>
                    <th>Valor</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
                <ng-template [ngIf]="(this.archivo |json) == ({}|json)" [ngIfElse]="fileTable">
                    <tr *ngFor="let c of objetosIndex" >
                        <td contenteditable="true">Objeto {{c}}</td>
                        <td>
                            <input class="form-control" type="number" placeholder="valor">
                        </td>
                        <td>
                            <input class="form-control" type="number" placeholder="valor">
                        </td>
                    </tr>
                </ng-template>
                <ng-template #fileTable>
                    <tr *ngFor="let c of objetosIndex" >
                        <td contenteditable="true">{{getObjArrField(this.archivo,c,"nombre")}}</td>
                        <td>
                            <input class="form-control" type="number" placeholder="valor" value="{{getObjArrField(this.archivo,c,'valor')}}">
                        </td>
                        <td>
                            <input class="form-control" type="number" placeholder="valor" value="{{getObjArrField(this.archivo,c,'peso')}}">
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-auto">
                    <button (click)="this.handleCalculate()" class="btn btn-success">Calcular</button>
                </div>
                <div class="col-auto">
                    <button (click)="this.downloadFile()" class="btn btn-primary">Generar Archivo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla con los resultados -->
    <div class="container mt-3 text-center" *ngIf="this.objetosIndex.length > 0" >
        <h1 class="text-light">Resultado</h1>
        <table id="resultTable" class="table table-striped bg-white rounded">
            <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let nombre of getObjectNames()">
                      {{nombre}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let col of getObjectNames()">
                    <td>{{col}}</td>
                    <td *ngFor="let col of getObjectNames()">
                        0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>