<div class="container">
  <div class="abs-center">
    <table style="margin-right:4em; min-width:50%; max-width:77%">
      <tbody>
        <tr>
          <td>
            <blockquote style="padding-right:2em; padding-left:1.5em; padding-bottom:0.5em; padding-top:0.5em; border:1px solid; font-family:Georgia,serif; border-color: #880000; background-color:rgb(215, 114, 56) #bf8686; color: #ffffff">
              <h1>Proyecto Investigación de Operaciones</h1>
              <h3>Interfaz que permite acceder a los múltiples algoritmos de programación dinámica estudiados en el curso de investigación de operaciones.</h3>
            </blockquote>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
