
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
  }
  .logo-image{
    width: 126px;
    height: 66px;
    overflow: hidden;
}
.nav-link{
  border-style: outset;
  border-color: rgb(101, 94, 226);
  text-align: center;
  color: rgb(255, 255, 255)
}

/* Add background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(26, 37, 134);
  border-radius: 5%;
}
