<div class="container bg-white text-center">
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>

                </th>
                <ng-template ngFor let-columna [ngForOf]="alphabet.slice(0,10)" let-i="index" >
                    <th (input)="onNameChange($event)" class="{{columna}}" scope="col" contenteditable="true" *ngIf="i < 10">{{columna}}</th>
                </ng-template>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-fila [ngForOf]="alphabet.slice(0,10)" let-i="index" >
                <tr id="{{fila}}">
                    <th class="{{fila}}"scope="row" contenteditable="true" *ngIf="i < 10">
                        {{fila}}
                    </th>
                    <ng-template ngFor let-columna [ngForOf]="alphabet" let-j="index" >
                        <td  *ngIf="i == j" id="{{fila}}{{columna}}">0</td>
                        <td  id="{{fila}},{{columna}}" contenteditable="true" *ngIf="j < 9">∞</td>
                    </ng-template>
                </tr>
            </ng-template>
        </tbody>

    </table>
    <button class="btn btn-primary" (click)="calcularRutasCortas()">Calcular</button>

</div>